html {
}
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(199, 136, 226);

}


h2{
  font-size: 1.1rem;
}

h1{
  font-size: 1.6rem;
}