:root {
  --neon-green: #a4ffaf;
  --almost-white: #e6e5ea;
  --grey: #817d92;
  --dark-grey: #24232c;
  --very-dark-grey: #18171f;

  --fz-m: 1.125rem;
  --fz-l: 1.5rem;
  --fz-xl: 2rem;
}
